/WorkDemo/.vs/WorkDemo/FileContentIndex
/WorkDemo/.vs/WorkDemo/v17/DocumentLayout.json
/WorkDemo/packages/HCSharpInterface
/WorkDemo/WorkDemo/FakesAssemblies
/WorkDemo/WorkDemo/obj/Release
/WorkDemo/WorkDemo/bin/Debug/cs
/WorkDemo/WorkDemo/bin/Debug/de
/WorkDemo/WorkDemo/bin/Debug/es
/WorkDemo/WorkDemo/bin/Debug/fr
/WorkDemo/WorkDemo/bin/Debug/it
/WorkDemo/WorkDemo/bin/Debug/ja
/WorkDemo/WorkDemo/bin/Debug/ko
/WorkDemo/WorkDemo/bin/Debug/pl
/WorkDemo/WorkDemo/bin/Debug/pt-BR
/WorkDemo/WorkDemo/bin/Debug/ru
/WorkDemo/WorkDemo/bin/Debug/tr
/WorkDemo/WorkDemo/bin/Debug/zh-Hans
/WorkDemo/WorkDemo/bin/Debug/zh-Hant
/WorkDemo/WorkDemo/bin/Debug/halcondotnet.dll
/WorkDemo/WorkDemo/bin/Debug/halcondotnet.xml
/WorkDemo/WorkDemo/bin/Debug/HCSharpInterface.dll
/WorkDemo/WorkDemo/bin/Debug/HCSharpInterface.pdb
/WorkDemo/WorkDemo/bin/Debug/HCSharpInterfaceLog.txt
/WorkDemo/WorkDemo/bin/Debug/hdevenginedotnet.dll
/WorkDemo/WorkDemo/bin/Debug/hdevenginedotnet.xml
/WorkDemo/WorkDemo/bin/Debug/Microsoft.QualityTools.Testing.Fakes.dll
/WorkDemo/WorkDemo/bin/Debug/WorkDemo.exe
/WorkDemo/WorkDemo/bin/Debug/WorkDemo.pdb
/WorkDemo/WorkDemo/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WorkDemo/WorkDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WorkDemo/WorkDemo/obj/Debug/WorkDemo.csproj.AssemblyReference.cache
/WorkDemo/WorkDemo/obj/Debug/WorkDemo.csproj.CoreCompileInputs.cache
/WorkDemo/WorkDemo/obj/Debug/WorkDemo.csproj.FileListAbsolute.txt
/WorkDemo/WorkDemo/obj/Debug/WorkDemo.csproj.GenerateResource.cache
/WorkDemo/WorkDemo/obj/Debug/WorkDemo.csproj.SuggestedBindingRedirects.cache
/WorkDemo/WorkDemo/obj/Debug/WorkDemo.exe
/WorkDemo/WorkDemo/obj/Debug/WorkDemo.exe.config
/WorkDemo/WorkDemo/obj/Debug/WorkDemo.pdb
/WorkDemo/WorkDemo/bin/Release
/WorkDemo/.vs/WorkDemo/v17/.suo
